@import "/base/variables&base.css";

/*========= PRODUCT =========*/
/* ========= ACCORDION & REVIEWS ======== */
.accordion-and-reviews{
    display: flex;
}

.accordion-container{
    width: 50%;
    padding: 5rem 4rem;
}

.accordion__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color--brand--second);
    margin: 1rem 0;
    cursor: pointer;
}

.accordion__header--active i{
    transition: transform 0.5s;
    transform: rotate(-180deg);
}

.accordion__content{
    display: none;
}

.accordion__text{
    font-family: var(--font-family-first);
    line-height: var(--line-height-text);
}

.reviews{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--color--brand--second);
}

.reviews h4{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.reviews__container{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 0 3rem;
    align-items: center;
}

.review__arrow{
    font-size: 1.5rem;
    cursor: pointer;
}

.reviews__description{
    padding-top: 2rem;
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
}

.reviews__text{
    font-style: italic;
}

.reviews__user{
    font-family: var(--font-family-first);
    font-weight: 600;
}


/* ========= DRINKS ======== */
.drinks h2{
    text-align: center;
    font-size: var(--font-big-size);
    padding: 3rem;
    text-transform: capitalize;
    font-style: italic;
    border-bottom: 1px solid var(--color--brand--second);
}

.drinks-grid{
    display: flex;
}

.drinks-grid__item{
    width: 25%;
    border-right: 1px solid var(--color--brand--second--dark);
}

.drinks-grid .drinks-grid__item:last-child{
    border-right: none;
}

.video-container{
    position: relative;
    width: 100%;
    padding-top: 125%;
}

.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.drinks-grid__item-text{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

.drinks-grid__item-text p{
    font-size: var(--font-small-size);
}

/* ========= ABOUT US ======== */
.about-us{
    height: 500px;
    background-image: url("../images/quarter_bg.PNG");
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-us-text{
    display: flex;
    flex-direction: column;
    width: 400px;
    row-gap: 1rem;
    margin-right: 20%;
    color: white;
}

.about-us-text a{
    color: white;
    border-color: white;
}

.about-us-text h3{
    text-transform: none;
    font-size: var(--font-bigger-size);
}


@media screen and (min-width: 300px) and (max-width: 767px){
    /* ========= ACCORDION & REVIEWS ======== */
    .accordion-and-reviews{
        flex-direction: column;
    }

    .accordion-container, .reviews{
        width: 100%;
    }

    .accordion-container{
        border-bottom: 1px solid var(--color--brand--second--dark);
        padding: 2rem;
    }

    .reviews{
        padding: 3rem 2rem;
        border-left: none;
    }

    .reviews__container{
        padding: 1rem 0;
    }

    .drinks-grid{
        flex-direction: column;
    }

    .drinks-grid__item{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--color--brand--second--dark);
    }

    .drinks-grid__item-text h3{
        font-size: var(--font-big-size);
    }

    .drinks-grid__item-text p{
        font-size: var(--font-normal-size);
    }

    /* ========= ABOUT US ======== */
    .about-us{
        padding-left: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1254px){
    .accordion-and-reviews{
        flex-direction: column;
    }

    .accordion-container, .reviews{
        width: 100%;
    }

    .accordion-container{
        border-bottom: 1px solid var(--color--brand--second--dark);
        padding: 3rem;
    }

    .reviews{
        padding: 3rem 2rem;
        border-left: none;
    }

    .reviews__container{
        padding: 1rem 0;
    }

    .drinks-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .drinks-grid__item{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--color--brand--second--dark);
        border-right: 1px solid var(--color--brand--second--dark);
    }

    .drinks-grid__item-text h3{
        font-size: var(--font-big-size);
    }

    .drinks-grid__item-text p{
        font-size: var(--font-normal-size);
    }
}