/* ========= FONTS ======== */
@import url(//db.onlinewebfonts.com/c/6228016f2b172c06410f3a2356d33f6c?family=Roobert-Regular);

@font-face {
    font-family: "WT Monarch Nova"; 
    src: url("//db.onlinewebfonts.com/t/5e4df315bceb4e9c81342f0cfbc7dbf8.woff") format("woff"); 
} 

/* ========= VARIABLES ======== */
:root{
    /* ========= COLORS ======== */
    --accent-color: #FFD600;
    --secondary-color: #5ab9e1;
    --secondary-color-light: #b6e1f3;
    --btn-box-shadow: #fcd23a;

    /* ========= FONTS ======== */
    --font-family-header: WT Monarch Nova;
    --font-family-text: Roobert-regular;
    --font-regular: 200;
    --font-medium: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family-text);
}

h1,h3{
    font-family: var(--font-family-header);
    text-transform: uppercase;
    text-align: center;
    color: white;
}

h1{
    font-size: 3.8rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 1.5rem;
    font-weight: normal;
}

p{
    font-size: 1rem;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

button{
    border: none;
}

::-webkit-scrollbar{
    display: none;
}

::selection{
    background-color: var(--secondary-color);
}

/* ========= HEADER ======== */
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.header-sticky{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 6rem;
    z-index: 1000;
    border-bottom: 1px solid  #d9d9d9;
}

.header-sticky .nav__link{
    color: black;
}

.header-sticky .cart .cart-items{
    border-color: black;
}

.header-sticky .nav__menu .nav__link--active::after{
    content: "";
    background-image: url("/july/assets/images/wave-underline.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10px;
    filter: invert();
    position: absolute;
    top: 2rem;
    left: 0;
}

.logo--sticky{
    position: absolute;
    top: 1rem;
    filter: invert();
}

.nav__menu{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.nav__link{
    position: relative;
    color: white;
    font-size: 1.2rem;
}

.nav__link:hover{
    transition: color 0.3s;
    color: var(--accent-color);
}

.nav__link:hover .cart .cart-items{
    border-color: var(--accent-color);
}

.nav__link--active::after{
    content: "";
    background-image: url("/july/assets/images/wave-underline.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 2rem;
    left: 0;
}

.cart{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.cart-items{
    border: 1px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}

.ham-menu{
    display: none;
}

.dropdown-menu{
    display: flex;
    visibility: hidden;
    position: absolute;
    background-color: white;
    margin-top: 0.3rem;
    margin-left: -0.3rem;
    flex-direction: column;
    width: 170px;
    border: none;
    border-radius: 1rem;
}

.dropdown-menu li:first-child {
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
}

.dropdown-menu li:first-child::after{
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0248/0481/9023/t/17/assets/july-ac-menu-shape.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.3rem;
}

.dropdown-menu li{
    padding: 0.7rem 1rem;
}

.dropdown-menu li a:hover{
    transition: color 0.3s;
    color: var(--accent-color);
}

/* ========= HERO BACKGROUND ======== */

.hero-bg{
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    height: 500px;
    z-index: -1;
}

.hero-bg--product{
    height: 800px;
}

.hero-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


/* ========= BUTTONS ======== */
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 2rem;
    width: 250px;
    padding: 1rem;
    height: 3.5rem;
    color: black;
    box-shadow: 0 0 60px var(--btn-box-shadow);
}

.btn-text{
    color: black;
    margin-bottom: 0;
}

.btn-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid var(--accent-color);
    border-radius: 2rem;
    width: 250px;
    padding: 1rem;
    height: 3.5rem;
    color: black;
}

.btn-third{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.btn-third:hover{
    color: var(--secondary-color);
}

.btn-disabled{
    opacity: .75;
}

.switch{
    display: flex;
    column-gap: 0;
}

.switch button{
    border-radius: 2rem;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
}

.switch button:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.switch button:last-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.switch .selected{
    background-color: white;
}

/* ========= CONFIGURE JULY ======== */
.configure-july{
    padding-top: 12%;
}

.product-form{
    padding: 3rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.payment-line div img{
    padding-left: 0.5rem;
    width: 55px;
    height: 18px;
}

.payment-line .affirm-modal-btn{
    border: 1px solid black;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
}

/* AFFIRM  */
.affirm-modal-btn:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.affirm-popup__img{
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.affirm-popup__title{
    text-align: left;
    margin-bottom: 1rem;
}

.affirm-popup__small-text{
    margin-top: 2rem;
    font-size: 0.7rem;
}

/* WINDOW TYPE  */
.window-type-text, .window-size-text, .window-cover-text, .air-filter-text{
    margin-bottom: 1rem;
}

.underline-wave::before{
    content: "";
    background: url("/july/assets/images/wave-underline.png") no-repeat;
    filter: invert();
    position: absolute;
    left: 0;
    bottom: 0;
}

.window-type-selection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.window-type-option, .window-size-option, .window-cover-option, .air-filter-option{
    padding: 0.8rem;
    cursor: pointer;
}

.window-type-option span, .window-size-option span, .air-filter-option span{
    font-size: 0.8rem;
}

.window-type-option:nth-child(1), .window-size-option:first-child, .window-cover-option:first-child,
.air-filter-option:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--secondary-color);
}

.window-type-option:nth-child(2){
    border: 1px solid var(--secondary-color);
}

.window-type-option:nth-child(3), .window-size-option:last-child, .window-cover-option:last-child,
.air-filter-option:last-child{
    border: 1px solid var(--secondary-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.window-type-option:hover, .window-size-option:hover, .air-filter-option:hover{
    opacity: 0.90;
}

.window-type-option input, .window-size-option input, .air-filter-option input{
    display: none;
}

.window-type-selection .selected, .window-size-selection .selected, .air-filter-selection .selected{
    background-color: var(--secondary-color);
    color: white;
}

.window-size-selection, .window-cover-selection, .air-filter-selection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.product-form--white{
    color: white;
}

.product-form--white .window-type-selection .selected,
.product-form--white .window-size-selection .selected,
.product-form--white .air-filter-selection .selected{
    background-color: white;
    color: black;
}

.product-form--white .window-type-option:nth-child(1),
.product-form--white .window-size-option:first-child,
.product-form--white .window-cover-option:first-child,
.product-form--white .air-filter-option:first-child{
    border-color: white;
}

.product-form--white .window-type-option:nth-child(2){
    border-color: white;
}

.product-form--white .window-type-option:nth-child(3),
.product-form--white .window-size-option:last-child,
.product-form--white .window-cover-option:last-child,
.product-form--white .air-filter-option:last-child{
    border-color: white;
}



/* ========= FOOTER ======== */
.footer{
    background-image: url(https://cdn.shopify.com/s/files/1/0248/0481/9023/t/17/assets/pattern-01.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    background-size: contain;
    margin: 1rem;
    padding: 3rem 0;
    border-radius: 1rem;
}

.footer__insta-feed{
    display: flex;
    justify-content: center;
}

@keyframes rotate{
    from {
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.footer-logo-col{
    position: relative;
}

.footer-logo-col::before{
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0248/0481/9023/t/17/assets/sticker_logo01.png) no-repeat;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
}

.footer-logo-col img{
    padding: 1rem;
    width: 100px;
}

.footer-logo-col img:first-child{
    width: 200px;
    position: absolute;
    z-index: 0;
    animation: rotate 6s infinite linear;
}

.footer-logo-col img:nth-child(2){
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 100;
}

.footer-cols{
    display: flex;
    justify-content: space-between;
}

.footer-list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-list__header{
    font-family: var(--font-regular);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer-list ul{
    padding-left: 0;
}

.footer-list ul li{
    padding: 0.4rem 0;
}

.footer-newsletter{
    padding-left: 3rem;
}

.footer-newsletter p:nth-child(2){
    margin-top: 1rem;
}

.form-newsletter{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.carbon-free-logo__container{
    display: flex;
    justify-content: center;
}

.carbon-free-logo__container img{
    width: 100px;
}

.app__container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.list-inline{
    margin-top: 0.8rem;
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}

.footer-small-menu ul li a, .footer-small-menu span{
    color: rgb(33, 31, 31);
}

.footer-small-menu span{
    display: flex;
    justify-content: center;
}

/* ========= FORMS ======== */
input{
    margin-top: 1rem;
    border: 1px solid white;
    padding: 1rem;
    background-color:transparent;
    outline: none;
    border-radius: 0.5rem;
}

input:focus{
    border: 1px solid #309ac7;
}

footer button[type="submit"]{
    padding: 1rem;
    background-color: var(--secondary-color-light);
    border-radius: 0.5rem;
    border: none;
}


/* ========= REVIEWS ======== */
.rating-stars{
    display: flex;
    column-gap: 0.2rem;
    color: white;
}

.rating-stars:hover{
    color: white;
}


/* ========= CAROUSELS ======== */
.carousel--border-radius .carousel-item img{
    border-radius: 1rem;
}

.carousel-item{
    position: relative;
}

.carousel-july-caption{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.caption-title{
    font-weight: 600;
}

