@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
    font-family: Creato Display;
    src: url(C:\Users\UserW10\AppData\Local\Microsoft\Windows\Fonts\CreatoDisplay-regular.otf);
}

:root {
    /* COLORS  */
    --bg-color: #FEFEFD;
    --accent-color: #FC5101;
    --first-color: #FCD937;
    --second-color: #FFB4ED; 
    --third-color: #008A69;

    /* FONTS  */
    --font-family: Creato Display;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
}

::selection{
    color: white;
    background-color: var(--accent-color);
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

nav ul{
    width: 70%;
    display: flex;
    column-gap: 2rem;
}

h1, h2{
    text-transform: uppercase;
    font-size: 3.5rem;
}

h2{
    font-style: italic;
    font-weight: 400;
}

h3{
    font-size: 2rem;
}

p{
    margin: 1.5rem 0 2.5rem;
    line-height: 1.6rem;
}

section{
    margin-top: 1rem;
}

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    align-items: center;
    background-color: black;
    padding: 4rem;
}

/* ============== COMMON CLASSES ============== */
.proyectos, .about-me{
    padding: 2rem 4rem;
}

.star{
    width: 50px;
}

.star--small{
    margin-top: -0.8rem;
    width: 40px;
}

.star, .star--small {
    animation: rotate 4s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* ============== HEADER ============== */
.logo{
    width: 22%;
}

.nav-item{
    font-family: var(--font-family);
    color: black;
    text-transform: uppercase;
}

.nav-item:hover{
    color: var(--accent-color);
}

/* ============== INICIO ============== */
.column{
    display: flex;
    flex-direction: column;
}

.home-row{
    height: 168px;
}

.home-semi-row--pink{
    display: flex;
    background-color: var(--second-color);
}

.circle{
    border: 4px solid white;
    height: 100%;
    width: 166px;
    margin-left: -5.3rem;
    border-radius: 50%;
    animation: move 1s ease-out infinite;
}

@keyframes move{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.home-semi-row--orange{
    background-color: var(--accent-color);
}

.home-semi-row--black{
    background-color: black;
}

.home-semi-row--text, .home-semi-row--yellow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-semi-row--star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.home-semi-row--yellow{
    background-color: var(--first-color);
}

.home-semi-row--yellow img{
    width: 100px;
}

.grid--star{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.grid-six-columns{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.grid-six-columns span:first-child{
    background-color: var(--second-color);
}

.grid-six-columns span:nth-child(2){
    background-color: #FFC2F0;
}

.grid-six-columns span:nth-child(3){
    background-color: #FFCFF3;
}

.grid-six-columns span:nth-child(4){
    background-color: #FFE3F8;
}

.grid-six-columns span:nth-child(5){
    background-color: #FDEDFA;
}

.grid-six-columns span:nth-child(6){
    background-color: var(--bg-color);
}

/* ============== PROYECTOS ============== */
.proyectos{
    padding-top: 4rem;
    position: relative;
}

.proys-header-container{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.proys-header{
    width: 250px;
}

.proyectos h4{
    margin-top: 3rem;
    font-size: 1.1rem;
}

.bg-decoration--pink{
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    z-index: -1;
}

.bg-decoration--yellow{
    position: absolute;
    left: 0;
    top: 38%;
    width: 100%;
    z-index: -1;
}

.bg-decoration--green{
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    z-index: -1;
}

.grid--proys{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.proy h4{
    margin-top: 2rem;
}

.proy p{
    width: 450px;
    word-wrap: break-word;
}

.proy img{
    width: 450px;
}

.proy-circula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proy-circula img{
    width: 800px;
}


/* ============== ABOUT ME ============== */
.about-me{
    position: relative;
    margin-bottom: 3rem;
}

.about-me-title{
    width: 200px;
    margin-bottom: 2rem;
}

.about-me .rect{
    position: absolute;
    right: 4rem;
    width: 50px;
}

.about-me .semicircle{
    position: absolute;
    right: 3.5rem;
    bottom: 1rem;
    width: 80px;
}

.grid--about p{
    width: 340px;
    word-wrap: break-word;

}

.about-me-sections{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.competencias, .competencias-content, .en-progreso, .en-progreso-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.competencias-header, .en-progreso-header{
    display: flex;
    align-items: center;
}

.competencias__title{
    width: 250px;
    margin-right: 2rem;
}

.competencias-content div, .en-progreso-content div{
    display: flex;
    align-items: center;
}

.dot{
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    margin: 0 0.8rem;
}

.en-progreso__title{
    width: 190px;
    margin-right: 2rem;
}

/* ============== FOOTER ============== */
.footer-nav{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-nav-item{
    color: white;
}

.contact{
    color: white;
}

.contact{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact p{
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 0;
}

.contact a{
    font-weight: 450;
}

.contact span{
    color: var(--second-color);
}

.contact a:hover{
    color: var(--accent-color);
}

.footer-nav{
    display: flex;
    justify-content: center;
}

.footer-img{
    justify-self: center;
}

.footer-img img{
    width: 180px;
}

.contact{
    justify-self: end;
}


@media screen and (min-width: 360px) and (max-width: 767px) {
    .logo{
        width: 80%;
        margin-left: 1.5rem;
    }

    nav{
        display: none;
    }

    h1, h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1rem;
    }

    p, span{
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    footer{
        grid-template-columns: 1fr;
        padding: 2rem;
    }

    .star{
        width: 30px;
    }

    .star--small{
        width: 10%;
    }

    .proyectos, .about-me{
        padding: 2rem;
    }


    /* HOME  */
    .home-row{
        height: 180px;
    }

    .circle{
        width: 100%;
        margin-left: -2rem;
    }

    .grid--star{
        grid-template-columns: repeat(2,1fr);
    }

    .home-semi-row--star{
        flex-direction: column;
        padding: 1rem 0;
    }

    .home-semi-row--text:nth-child(2){
        padding-left: 2rem;
    }

    .home-semi-row--yellow img{
        width: 50%;
    }

    /* PROY  */
    .proyectos h4{
        font-size: 1rem;
        margin-top: 2rem;
    }

    .proys-header-container{
        column-gap: 1rem;
    }

    .proys-header{
        width: 60%;
    }

    .bg-decoration--pink{
        top: 15%;
        height: 200px;
        width: 100%;
    }

    .bg-decoration--yellow{
        top: 49%;
        height: 200px;
        width: 100%;
    }

    .bg-decoration--green{
        top: 85%;
        height: 200px;
        width: 100%;
    }

    .grid--proys{
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .proy h4{
        margin-top: 1rem;
    }

    .proy img{
        width: 100%;
    }

    .proy p{
        width: 100%;
        margin-top: 0.5rem;
    }

    .proy-circula img{
        width: 100%;
    }

    /* ABOUT ME */
    .about-me-title{
        width: 50%;
        margin-bottom: 0;
    }

    .about-me .rect{
        display: none;
    }

    .about-me .semicircle{
        display: none;
    }

    .about-me div .grid{
        grid-template-columns: 1fr;
    }

    .competencias__title, .en-progreso__title{
        margin-right: 1rem;
    }

    .competencias__title{
        width: 70%;
    }

    .en-progreso__title{
        width: 50%;
    }

    .grid--about{
        grid-template-columns: 1fr;
    }

    .grid--about p{
        width: 100%;
    }

    /* FOOTER  */
    .footer-img{
        margin-top: 1rem;
        justify-self: left;
        order: 2;
    }

    .contact{
        justify-self: left;
    }

}

@media screen and (min-width: 768px) and (max-width: 1340px) {
    .logo{
        width: 70%;
        margin-left: 6rem;
    }

    nav{
        display: none;
    }
    
    h1, h2{
        font-size: 2rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 2rem;
    }

    p, span{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    div{
        font-size: 1.3rem;
    }

    footer{
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
    }

    .star{
        width: 30px;
    }

    .star--small{
        width: 8%;
    }

    .proyectos, .about-me{
        padding: 3rem;
    }

    /* HOME  */
    .home-row{
        height: 220px;
    }

    .circle{
        width: 100%;
        margin-left: -2rem;
    }

    .grid--star{
        grid-template-columns: repeat(2,1fr);
    }

    .home-semi-row--star{
        flex-direction: column;
        padding: 1rem 0;
    }

    .home-semi-row--text:nth-child(2){
        padding-left: 2rem;
    }

    .home-semi-row--yellow img{
        width: 50%;
    }

    /* PROY  */
    .proyectos h4{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .proys-header-container{
        column-gap: 2rem;
    }

    .proys-header{
        width: 55%;
    }

    .bg-decoration--pink{
        top: 15%;
        height: 350px;
        width: 100%;
    }

    .bg-decoration--yellow{
        top: 49%;
        height: 200px;
        width: 100%;
    }

    .bg-decoration--green{
        top: 85%;
        height: 350px;
        width: 100%;
    }

    .grid--proys{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .proy h4{
        margin-top: 2rem;
    }

    .proy img{
        width: 100%;
    }

    .proy p{
        width: 100%;
        margin-top: 1rem;
    }

    .proy-circula img{
        width: 100%;
    }

    /* ABOUT ME */
    .about-me-title{
        width: 40%;
        margin-bottom: 0;
    }

    .about-me .rect{
        display: none;
    }

    .about-me .semicircle{
        display: none;
    }

    .about-me div .grid{
        grid-template-columns: 1fr;
    }

    .competencias__title, .en-progreso__title{
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .competencias__title{
        width: 60%;
    }

    .en-progreso__title{
        width: 60%;
    }

    .grid--about{
        grid-template-columns: 1fr;
    }

    .dot{
        height: 12px;
        width: 12px;
    }

    /* FOOTER  */
    .footer-img{
        margin-top: 1rem;
        justify-self: left;
        order: 2;
    }

    .contact{
        justify-self: left;
    }
    
}


@media screen and (min-width: 1341px) {
    .logo{
        width: 30%;
    }

    nav ul{
        width: 70%;
        display: flex;
        column-gap: 2rem;
    }

    h1, h2{
        text-transform: uppercase;
        font-size: 4rem;
    }

    h3{
        font-size: 2rem;
    }

    li{
        font-size: 1.3rem;
    }

    p, span{
        font-size: 1.8rem;
        line-height: 3rem;
    }

    div{
        font-size: 2rem;
    }

    footer{
        grid-template-columns: repeat(3,1fr);
        padding: 4rem;
    }

    .star{
        width: 60px;
    }

    .star--small{
        width: 4%;
    }

    .proyectos, .about-me{
        padding: 3rem;
    }

    /* HOME  */
    .home-row{
        height: 300px;
    }

    .circle{
        width: 100%;
        margin-left: -2rem;
    }

    .grid--star{
        grid-template-columns: repeat(2,1fr);
    }

    .home-semi-row--star{
        flex-direction: column;
        padding: 1rem 0;
    }

    .home-semi-row--text:nth-child(2){
        padding-left: 2rem;
    }

    .home-semi-row--yellow img{
        width: 40%;
    }

    /* PROY  */
    .proyectos h4{
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .proys-header-container{
        column-gap: 2rem;
    }

    .proys-header{
        margin-top: 2rem;
        width: 30%;
    }

    .bg-decoration--pink{
        top: 10%;
    }

    .bg-decoration--yellow{
        top: 49%;
        height: 200px;
        width: 100%;
    }

    .bg-decoration--green{
        top: 65%;
    }

    .grid--proys{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }

    .proy h4{
        margin-top: 2rem;
    }

    .proy img{
        width: 100%;
    }

    .proy p{
        width: 100%;
        margin-top: 1rem;
    }

    .proy-circula img{
        width: 100%;
    }

    /* ABOUT ME */
    .about-me-title{
        width: 20%;
        margin-bottom: 0;
    }

    .about-me .rect{
        width: 5%;
    }

    .about-me .semicircle{
        width: 7%;
    }

    .about-me div .grid{
        grid-template-columns: 1fr;
    }

    .competencias__title, .en-progreso__title{
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .competencias__title{
        width: 60%;
    }

    .en-progreso__title{
        width: 60%;
    }

    .grid--about{
        grid-template-columns: 1fr;
    }

    .dot{
        height: 12px;
        width: 12px;
    }

    /* FOOTER  */
    .footer-img{
        margin-top: 1rem;
        justify-self: left;
        order: 2;
    }

    .contact{
        justify-self: left;
    }
    
}