@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
    font-family: Creato Display;
    src: url(C:\Users\UserW10\AppData\Local\Microsoft\Windows\Fonts\CreatoDisplay-regular.otf);
}

:root {
    /* COLORS  */
    --bg-color: #FEFEFD;
    --accent-color: #FC5101;
    --first-color: #FCD937;
    --second-color: #FFB4ED; 
    --third-color: #008A69;

    /* FONTS  */
    --font-family: Creato Display;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    column-gap: 2rem;
}

h1,h2{
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 3.5rem;
}

h2{
    font-style: italic;
    font-weight: 400;
}

section{
    margin-top: 1rem;
}

.logo{
    width: 200px;
}

.nav-item{
    font-family: var(--font-family);
    color: black;
    text-transform: uppercase;
}

.nav-item:hover{
    color: var(--accent-color);
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.column{
    display: flex;
    flex-direction: column;
}

.home-row{
    height: 166px;
}

.home-semi-row--pink{
    display: flex;
    background-color: var(--second-color);
}

.circle{
    border: 4px solid white;
    height: 100%;
    width: 166px;
    margin-left: -5.3rem;
    border-radius: 50%;
}

.home-semi-row--orange{
    background-color: var(--accent-color);
}

.home-semi-row--black{
    background-color: black;
}

.home-semi-row--text, .home-semi-row--yellow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-semi-row--star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.home-semi-row--yellow{
    background-color: var(--first-color);
}

.home-semi-row--yellow img{
    width: 100px;
}

.grid--star{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.grid-six-columns{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.grid-six-columns span:first-child{
    background-color: var(--second-color);
}

.grid-six-columns span:nth-child(2){
    background-color: #FFC2F0;
}

.grid-six-columns span:nth-child(3){
    background-color: #FFCFF3;
}

.grid-six-columns span:nth-child(4){
    background-color: #FFE3F8;
}

.grid-six-columns span:nth-child(5){
    background-color: #FDEDFA;
}

.grid-six-columns span:nth-child(6){
    background-color: var(--bg-color);
}

.star{
    width: 50px;
}