@font-face {
    font-family: Creato Display Regular;
    src: url(./fonts/CREATODISPLAY-REGULAR.OTF);
}

@font-face {
    font-family: Creato Display Bold Italic;
    src: url(./fonts/CREATODISPLAY-BOLDITALIC.OTF);
}


@font-face {
    font-family: Kubasta;
    src: url(./fonts/KUBASTA.TTF);
}

:root {
    /* COLORS  */
    --bg-color: #080808;
    --accent-color: #FF7AE2;
    --bg-light: #D9D9D9;
    --font-color: white;
    --stroke-dark: #A6A6A6;

    /* FONTS  */
    --font-family: Creato Display Regular;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background-color: var(--bg-color);
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bg-color);
    border: 1px solid var(--stroke-dark);
    border-radius: 2rem;
}

::selection{
    color: black;
    background-color: var(--accent-color);
}

body{
    position: relative;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    padding: 2rem 3rem 2rem 4rem;
    cursor: url(./images/mouse.svg), auto;
    color: var(--font-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;
    z-index: 1000;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

nav ul{
    width: 70%;
    display: flex;
    column-gap: 2rem;
}

h1, h2{
    text-transform: uppercase;
    font-size: 2rem;
}

h2{
    font-family: Kubasta;
    font-weight: 400;
}

h3{
    font-size: 2rem;
}

section{
    margin-bottom: 14rem;
}

footer{
    width: 100%;
    position:absolute;
    left: 0;
    bottom: 0;
}

.robot{
    position: fixed;
    bottom: 10px;
    left: 48%;
    z-index: 1000;
}

.robot img{
    width: 100px;
}

/* ============== COMMON CLASSES ============== */
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.text-emphasis{
    font-family: Kubasta;
    font-size: 2.3rem;
}

.text-emphasis--italic{
    font-family: Creato Display Bold Italic;
}

.text-dark{
    color: var(--bg-light);
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--font-color);
    border-radius: 50%;
    background-color: black;
    padding: 1rem 2rem;
}

.subtitle--large{
    padding: 2rem 4rem;
}

.cta{
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    border-radius: 50%;
    font-family: Kubasta;
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
}

/* ============== HEADER ============== */
.menu-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: var(--bg-color);
    align-items: start;
    padding-left: 4rem;
    visibility: hidden;
}

.menu-item{
    margin-bottom: 2rem;
}

.menu-item:hover img{
    color: var(--accent-color);
}

.menu-item img{
    height: 50px;
}

.close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ============== INICIO ============== */
.home{
    width: 100%;
    margin-top: 2rem;
}

.home-title{
    margin-top: 3rem;
    width: 100%;
    height:auto;
    object-fit: contain;
    transition: all 3s;
}

.subtitle--home{
    margin-top: -6rem;
}

/* ================= ABOUT ME ===================== */
.about-me_text {
    width: 250px;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.display-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================= SKILLS ===================== */
.skills_title{
    margin-bottom: 2.5rem;
}

.skills_subtitle{
    margin-bottom: 70px;
}

.grid--skills{
    width: 50%;
}

.grid--skills .grid-3{
    margin-left: 20%;
    height: 156px;
}

.flex-column--start{
    align-items: start;
    gap: 20px;
}

.block{
    width: 50px;
    height: 50px;
}

.block img{
    width: 100%;
    object-fit: contain;
}

/* ================= MY WORK ===================== */
.my-work__title{
    width: 100%;
    margin-bottom: 4rem;
}

.project{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.project__subtitle{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project__showcase{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.project__tools{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project__tools .block{
    width: 40px;
    height: 40px;
}

.project__text{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project__btn{
    margin-top: 3rem;
}

.project__btn a{
    background-color: var(--bg-light);
}

.project__text p{
    line-height: 1.5rem;
}

.project__solution{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project__image-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.project__image{
    width: 100%;
    object-fit: contain;
}
/* ================= RECO ===================== */
.recommendations{
    position: relative;
    width: 100%;
    height: 400px;
}

.recommendations__title{
    margin-top: 4rem;
    width: 240px;
    text-align: center;
    font-family: Kubasta;
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
}

.comment{
    display: block;
    position: absolute;
    width: 300px;
    border: 1.5px solid white;
    border-radius: 1.2rem;
    padding: 1.5rem 2rem 3rem;
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out;
}

.comment--light{
    background-color: var(--bg-light);
    color: black;
    border: none;
}

.comment::before{
    content: "";
    position: absolute;
    bottom: 8px;
    left: 85%;
    width: 30px;
    height: 30px;
    background-image: url(./images/commment_icon_white.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.comment--light::before{
    content: "";
    position: absolute;
    bottom: 8px;
    left: 85%;
    width: 30px;
    height: 30px;
    background-image: url(./images/comment-icon-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.comment:nth-child(2){
    transform: rotate(-4deg);
    left: 2%;
    top: 0;
}

.comment:nth-child(3){
    transform: rotate(-4deg);
    left: 4%;
    top: 40%;
}

.comment:nth-child(4){
    transform: rotate(4deg);
    left: 70%;
    top: 0;
}

.comment:nth-child(5){
    transform: rotate(2deg);
    left: 70%;
    top: 40%;
}

.comment:nth-child(6){
    transform: rotate(4deg);
    left: 20%;
    top: 82%;
}

.comment:nth-child(7){
    transform: rotate(-4deg);
    left: 53%;
    top: 82%;
}

/* ================= CONTACT ===================== */
.contact__subtitle{
    font-weight: 400;
    margin-bottom: 1rem;
}

.contact__title{
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 4rem;
}

.contact__trade-title{
    font-family: Kubasta;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.contact__text{
    padding: 2rem 6rem;
    text-align: center;
    width:550px;
    line-height: 1.5rem;
}

.cta--contact{
    margin-top: 4rem;
    margin-bottom: 10rem;
}

/* ============== FOOTER ============== */
.footer__container{
    padding: 4rem;
}

.footer__message{
    font-size: 2rem;
    font-weight: bold;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer__menu-item{
    text-transform: uppercase;
    color: white;
}

.footer__menu-item:hover{
    color: var(--accent-color);
}

.footer__contact{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: end;
}

.footer__contact p{
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 0;
}

.footer__contact a{
    font-weight: 450;
}

.footer__contact span{
    color: var(--second-color);
}

.footer__contact a:hover{
    color: var(--accent-color);
}


/* ======= MOVIL ========= */
@media screen and (min-width: 300px) and (max-width: 767px) {
    body{
        padding: 1.5rem;
        overflow-x: hidden;
    }

    header{
        padding: 1.5rem;
    }

    section{
        margin-bottom: 5rem;
    }

    footer{
        position: static;
    }

    h1, h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1rem;
    }

    /* HEADER  */
    .menu-item img{
        height: 30px;
    }

    /* HOME  */
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        height: 100vh;
    }

    .home-title{
        height: 300px;
    }

    .subtitle--home{
        margin-top: -6rem;
    }

    .subtitle--home h2{
        text-align: center;
    }

    /* ABOUT ME  */
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .display-center{
        align-items: start;
    }


    /* SKILLS  */
    .skills{
        margin-bottom: 8rem;
    }

    .skills_title{
        width: 100%;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .grid--skills{
        width: 80%;
    }

    .flex-column--start{
        align-items: center;
    }

    .grid--skills .grid-3{
        margin-top: 3rem;
        margin-left: 0;
        align-items: center;
        justify-items: center;
    }

    /* MY WORK  */
    .my-work__title{
        margin-bottom: 2rem;
    }

    .project__subtitle{
        font-size: 1.2rem;
    }

    .project__showcase{
        display: flex;
        flex-direction: column;
    }

    .project__tools{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem;
    }

    .project__text{
        order: 1;
    }

    .project__btn{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .project__image-container{
        margin-top: 2rem;
        padding: 0;
    }

    /* RECO */
    .recommendations{
        position: static;
        height: auto;
    }

    .recommendations__title{
        margin-top: 0;
        font-size: 4rem;
    }

    .comment{
        margin-top: 2rem;
        position:static;
        width: auto;
    }

    .comment:nth-child(2){
        transform: rotate(-1deg);
    }

    .comment:nth-child(3){
        transform: rotate(2deg);
    }

    .comment:nth-child(4){
        transform: rotate(-1deg);
    }

    .comment:nth-child(5){
        transform: rotate(2deg);
    }

    .comment:nth-child(6){
        transform: rotate(-1deg);
    }

    .comment:nth-child(7){
        transform: rotate(2deg);
    }

    /* CONTACT  */
    .contact__title{
        text-align: center;
    }

    .contact__text{
        padding: 2rem;
        width: auto;
    }

    .cta--contact{
        margin-top: 2rem;
        margin-bottom: 4rem;
    }


    /* FOOTER  */
    .footer__container{
        padding: 0;
    }

    footer .grid-3{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__container .grid{
        gap: 1rem;
    }

    .footer__contact{
        align-items: start;
    }
}


/* ======= TABLET ========= */
@media screen and (min-width: 768px) and (max-width: 1000px) {
    body{
        padding: 4rem;
    }

    header{
        padding: 3rem 4rem;
    }

    section{
        margin-bottom: 0rem;
    }

    span, p {
        font-size: 1.2rem;
    }

    /* HOME  */
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        height: 100vh;
    }

    .home-title{
        height: 300px;
    }

    .subtitle--home{
        margin-top: -3rem;
    }

    .subtitle--home h2{
        text-align: center;
    }

    /* ABOUT ME  */
    .about-me{
        margin-bottom: 14rem;
    }

    /* SKILLS  */
    .skills{
        margin-bottom: 14rem;
    }

    .skills_title{
        width: 100%;
    }

    .grid--skills{
        width: 80%;
    }

    .grid--skills .grid-3{
        margin-left: 0;
        align-items: center;
        justify-items: center;
    }

    /* MY WORK  */
    .my-work__title{
        margin-bottom: 2rem;
    }

    .project__showcase{
        display: flex;
        flex-direction: column;
    }

    .project__text{
        order: 1;
    }

    .project__btn{
        display: flex;
        justify-content: center;
    }

    .project__image-container{
        margin-top: 2rem;
        padding: 0;
    }

    /* RECO */
    .recommendations{
        position: static;
        padding: 0 4rem;
        height: auto;
        margin-bottom: 14rem;
    }

    .recommendations__title{
        margin-top: 0;
        font-size: 4rem;
    }

    .comment{
        margin-top: 3rem;
        position:static;
        width: auto;
    }

    .comment:nth-child(2){
        transform: rotate(-1deg);
    }

    .comment:nth-child(3){
        transform: rotate(1deg);
    }

    .comment:nth-child(4){
        transform: rotate(-1deg);
    }

    .comment:nth-child(5){
        transform: rotate(1deg);
    }

    .comment:nth-child(6){
        transform: rotate(-1deg);
    }

    .comment:nth-child(7){
        transform: rotate(1deg);
    }

    /* MY WORK  */
    .my-work{
        margin-bottom: 14rem;
    }

    /* CONTACT  */
    .contact__subtitle{
        font-size: 1.2rem;
    }

    .contact__text{
        padding: 2rem;
        width: auto;
    }

    .cta--contact{
        margin-top: 2rem;
        margin-bottom: 14rem;
    }


    /* FOOTER  */

}

/* ======= DESKTOP ========= */
@media screen and (min-width: 1350px) and (max-width: 1930px) {
    body{
        padding: 6rem;
        overflow-x: hidden;
    }



    h1, h2{
        font-size: 3rem;
    }

    h3{
        font-size: 3.5rem;
    }

    span, p{
        font-size: 2rem;
    }

    .text-emphasis{
        font-size: 4rem;
    }

    .text-emphasis--italic{
        font-size: 2.5rem;
    }

    .cta{
        font-size: 4rem;
    }

    /* HEADER  */
    .menu-icon, .close-icon{
        width: 50px;
        height: 50px;
    }

    .menu__container{
        padding-left: 10rem;
    }

    .menu-item img{
        height: 100px;
    }

    /* HOME  */
    .home{
         height: 100vh;
    }

    .home-title{
        height: auto;
    }

    .subtitle--home{
        margin-top: -2rem;
    }

    .subtitle--home h2{
        text-align: center;
    }

    /* ABOUT ME  */
    .about-me_text{
        width: 500px;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    /* SKILLS  */
    .skills{
        margin-bottom: 20rem;
    }

    .skills_title{
        width: 60%;
        margin-bottom: 4rem;
    }

    .skills_subtitle{
        margin-bottom: 120px;
    }



    .grid--skills .grid-3{
        margin-left: 0;
        align-items: center;
        justify-items: center;
        height: 300px;
        width: 400px;
    }

    .block{
        width: 80px;
        height: 80px;
    }



    /* MY WORK  */
    .my-work__title{
        margin-bottom: 4rem;
    }

    .project__subtitle{
        font-size: 3rem;
    }

    .project__text p{
        line-height: 3.5rem;
    }

    .project__text{
        gap: 3rem;
    }

    .project__image-container{
        gap: 5rem;
    }

    .project__image-container span{
        margin-top: -3rem;
        margin-bottom: 4rem;
    }


    .project__tools{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    
    .project__tools .block{
        margin-top: 2rem;
        width: 80px;
        height: 80px;
    }
    

    /* RECO */
    .recommendations{
        height: 700px;
        margin-bottom: 20rem;
    }

    .recommendations__title{
        margin-top: 8rem;
        width: 400px;
        font-size: 6rem;
    }

    .comment{
        width: 450px;
        min-height: 150px;
    }

    .comment::before, .comment--light::before{
        width: 40px;
        height: 40px;
        left: 86%;
    }

    .comment:nth-child(2){
        left: 0;
    }

    .comment:nth-child(3){
        top: 46%;
    }

    .comment:nth-child(7){
        left: 60%;
    }
    
    /* CONTACT  */
    .contact__subtitle{
        font-size: 2rem;
    }

    .contact__title{
        font-size: 5rem;
        margin-bottom: 6rem;
    }

    .contact__trade-title{
        font-size: 4rem;
    }

    .contact__text{
        padding: 2rem;
        width: auto;
        line-height: 3rem;
    }

    .cta--contact{
        margin-top: 8rem;
        margin-bottom: 4rem;
        padding: 1rem 3rem;
    }


    /* FOOTER  */
    footer p, footer span, footer a, .footer__contact p{
        font-size: 2rem;
    }

    .footer__container{
        padding: 2rem 10rem;
    }

    .footer__message{
        font-size: 3rem;
    }
}