@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@font-face {
    font-family: Creato Display;
    src: url(C:\Users\UserW10\AppData\Local\Microsoft\Windows\Fonts\CreatoDisplay-regular.otf);
}

:root {
    /* COLORS  */
    --bg-color: #FEFEFD;
    --accent-color: #FC5101;
    --first-color: #FCD937;
    --second-color: #FFB4ED; 
    --third-color: #008A69;

    /* FONTS  */
    --font-family: Creato Display;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    column-gap: 2rem;
}

h1, h2{
    text-transform: uppercase;
    font-size: 3.5rem;
}

h2{
    font-style: italic;
    font-weight: 400;
}

h3{
    font-size: 2rem;
}

p{
    margin: 1.5rem 0 2.5rem;
    line-height: 1.6rem;
}

section{
    margin-top: 1rem;
}

/* ============== COMMON CLASSES ============== */
.star{
    width: 50px;
}

.star--small{
    margin-top: -0.8rem;
    width:40px;
}

.star, .star--small {
    animation: rotate 4s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



/* ============== HEADER ============== */
.logo{
    width: 200px;
}

.nav-item{
    font-family: var(--font-family);
    color: black;
    text-transform: uppercase;
}

.nav-item:hover{
    color: var(--accent-color);
}



/* ============== INICIO ============== */
.column{
    display: flex;
    flex-direction: column;
}

.home-row{
    height: 166px;
}

.home-semi-row--pink{
    display: flex;
    background-color: var(--second-color);
}

.circle{
    border: 4px solid white;
    height: 100%;
    width: 166px;
    margin-left: -5.3rem;
    border-radius: 50%;
}

.home-semi-row--orange{
    background-color: var(--accent-color);
}

.home-semi-row--black{
    background-color: black;
}

.home-semi-row--text, .home-semi-row--yellow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-semi-row--star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.home-semi-row--yellow{
    background-color: var(--first-color);
}

.home-semi-row--yellow img{
    width: 100px;
}

.grid--star{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.grid-six-columns{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.grid-six-columns span:first-child{
    background-color: var(--second-color);
}

.grid-six-columns span:nth-child(2){
    background-color: #FFC2F0;
}

.grid-six-columns span:nth-child(3){
    background-color: #FFCFF3;
}

.grid-six-columns span:nth-child(4){
    background-color: #FFE3F8;
}

.grid-six-columns span:nth-child(5){
    background-color: #FDEDFA;
}

.grid-six-columns span:nth-child(6){
    background-color: var(--bg-color);
}

/* ============== PROYECTOS ============== */
.proyectos{
    padding: 4rem;
    position: relative;
}

.proys-header-container{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.proys-header{
    width: 250px;
}

.proyectos h4{
    margin-top: 3rem;
    font-size: 1.1rem;
}

.bg-decoration--pink{
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    z-index: -1;
}

.bg-decoration--yellow{
    position: absolute;
    left: 0;
    top: 38%;
    width: 100%;
    z-index: -1;
}

.bg-decoration--green{
    position: absolute;
    left: 0;
    top: 74%;
    width: 100%;
    z-index: -1;
}

.grid--proys{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.proy h4{
    margin-top: 2rem;
}

.proy img{
    width: 450px;
}

.proy-circula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proy-circula img{
    width: 800px;
}