@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');


/*============ VARIABLES ============*/
:root{
    /*============ Color ============*/
    --color--brand--first: #ea5f00;
    --color--brand--second: #1d1d1b;
    --color--brand--third: #f4ede9;

    --color--brand--third--light: #f4ede9;
    --color--brand--second--dark: #1e1e1c;

    --color--button-bg: #1e1e1c;

    --color--brand--second--dark: #1e1e1c;

    /*============ Fonts & typography ============*/
    --font-family-first: 'Inter Tight', sans-serif; 
    --font-family-text: 'IBM Plex Mono', monospace;

    --font-bigger-size: 4rem;
    --font-big-size: 2.5rem;
    --font-normal-size: 1rem;
    --font-small-size: 0.85rem;

    --line-height-text: 1.5rem;

}

/*============ BASE ============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color--brand--third);
    color: var(--color--brand--second--dark);
}

section{
    border: 1px solid var(--color--brand--second--dark);
    border-bottom: none;
}

main{
    margin: 1rem 1rem 0rem;
}

footer{
    margin: 0 1rem 1rem;
    border-bottom: 1px solid var(--color--brand--second);
}

img{
    max-width: 100%;
}

h1,h2,h3{
    text-transform: uppercase;
    font-family: var(--font-family-first);
}

h4{
    font-family: var(--font-family-first);
}

p, a{
    font-family: var(--font-family-text);
}

p{
    line-height: var(--line-height-text);
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color--brand--second);
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

/*============ HEADER ============*/
.header{
    position: fixed;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    border-bottom: 1px solid var(--color--brand--second);
    height: 3rem;
    padding-left: 2rem;
}

.fixed-header{
    top: 0;
    background-color: var(--color--brand--third);
    z-index: 1000;
    border-left: 1px solid var(--color--brand--second--dark);
}

.non-home-header{
    top: 0;
    z-index: 1000;
    background-color: var(--color--brand--third);
    border-left: 1px solid var(--color--brand--second--dark);

}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav__menu{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav__menu__item{
    font-family: var(--font-family-text);
}

.nav__menu__item:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.cart__icon{
    width: 40px;
}

.count{
    position: absolute;
    top: 1.2rem;
    font-size: 0.9rem;
    background-color: var(--color--brand--third--light);
    border: 1px solid var(--color--brand--second--dark);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.logo--header{
    display: none;
    width: 150px;
    position: fixed;
    top: 0.3rem;
    left: 45%;
}

.logo--header-fixed{
    display: block;
    top: 0.5rem;
}

#fixed-cta-menu{
    border-top: none;
}

.ham-menu, .ham-menu__nav{
    display: none;
}

/*============ BUTTONS ============*/ 

.cta{
    display: flex;
    align-items: center;
    border: 1px solid var(--color--brand--second--dark);
    color: var(--color--brand--third--light);
    font-family: var(--font-family-text);
    background-color: var(--color--brand--first);
    height: 3rem;
    padding: 0 1rem;
    font-size: var(--font-small-size);
}

.btn-second, .btn-third{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: center;
    text-align: center;
}

.btn-second{
    background-color: var(--color--brand--second--dark);
    color: white;
}

.btn-third{
    border: 1px solid var(--color--brand--second--dark);
}

.btn--icon{
    display: flex;
    column-gap: 1rem;
    margin-right: auto;
    margin-top: 1.5rem;
}

.btn--icon:hover .btn--icon__arrow{
    transform: rotate(45deg);
}

.btn--product{
    column-gap: 0.5rem;
    margin-right: 0;
    padding: 0 1rem;
    height: 3rem;
}

.btn--product p{
    text-transform: uppercase;
    font-size: 0.75rem;
}

.btn--disabled{
    cursor: default;
    margin-top: 1.5rem;
    background-color: #1d1d1b;
}

/*============ SHOP ============*/ 
.shop__product{
    width: 25%;
}

.shop__product img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-left: 1px solid var(--color--brand--second);
}

.shop__product__content{
    display: flex;
    transform: translateY(-1rem);
}

.shop__product__name{
    padding: 1rem;
    border: 1px solid var(--color--brand--second);
    background-color: white;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shop__product__button{
    background-color: var(--color--brand--second--dark);
    padding: 1rem 0;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.shop__product__button:hover .shop__product__button__arrow{
    transform: rotate(45deg);
}


/*============ GRID ============*/ 
.grid-two-col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*============ TIPOGRAPHY ============*/ 
.text{
    font-family: var(--font-family-text);
    font-weight: 200;
    text-transform: lowercase;
}

/*============ FOOTER ============*/ 

.footer{
    display: flex;
}

.footer__image{
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 15%;
}

.footer__image, .footer__subscription{
    border-right: 1px solid var(--color--brand--second);
}

.footer__subscription{
    padding: 3rem 2rem;
    width: 35%;
}

.footer__subscription__text{
    font-family: var(--font-family-first);
}

.footer__subscription__form{
    margin-top: 1.5rem;
    display: flex;
}

.input__email{
    width: 200px;
    padding: 0.6rem;
    font-family: var(--font-family-text);
    font-size: var(--font-small-size);
}

.footer__nav__container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-top: 2rem;
    column-gap: 2rem;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer__nav li:hover{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.social-media__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-left: 1rem;
}

/* PRODUCT PAGES  */
.product-view{
    border-top: none;
    display: flex;
    margin-top: 3rem;
    height: 700px;
}

.slideshow-container{
    display: flex;
    width: 50%;
    position: relative;
}

.slide{
    display: none;
    width: 100%;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre, .post{
    cursor: pointer;
    color: black;
    position: absolute;
    padding: 0 1rem;
    font-size: 2rem;
    top: 50%;
}

.post{
    right: 0;
}

.dot-container{
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
}

.dot{
    display: inline-block;
    border: 1px solid black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    cursor: pointer;
}

.dot--active{
    background-color: black;
}

/*========= Product description =========*/
.product__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    row-gap: 0.5rem;
    border-left: 1px solid black;
    padding: 0 4rem;
}

.product__description-subtitle{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.quarter__description-subtitle p{
    margin-top: 0.5rem;
    font-size: var(--font-small-size);
}

.quantity-title{
    text-transform: uppercase;
    font-size: var(--font-normal-size);
}

.quantity-container{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.quantity-btn{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    border: 1.5px solid var(--color--brand--second);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-text);   
    cursor: pointer;
}

.quantity-btn--active{
    width: 2.3rem;
    height: 2.3rem;
    color: white;
    background-color: var(--color--brand--second);
}

.product__choices{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product--text{
    margin-top: 1rem;
    line-height: var(--line-height-text);
    font-size: var(--font-small-size);
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .header{
        height: 12%;
    }

    .fixed-header, .non-home-header{
        border-right: 1px solid var(--color--brand--second--dark);
    }

    .header-content{
        display: none;
    }

    .ham-menu{
        display: flex;
        column-gap: 1rem;
        justify-content: end;
        padding-top: 0.8rem;
        align-items: center;
        padding-right: 2rem;
    }

    .ham-menu i{
        font-size: 1.3rem;
    }

    .ham-menu__nav{
        padding: 2rem;
        position: fixed;
        background-color: var(--color--brand--third);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .ham-menu__nav ul{
        display: flex;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .ri-close-fill{
        position: fixed;
        right: 2rem;
        top: 2rem;
        font-size: 2rem;
    }

    .logo--header{
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
    

    .shop__product{
        width: 100%;
        margin-bottom: -1rem;
    }
    
    .shop__product img{
        height: 500px;
        object-fit: cover;
        border-top: 1px solid var(--color--brand--second);
    }

    .grid-two-col{
        grid-template-columns: 1fr;
    }
    
    .footer{
        flex-direction: column;
    }
    
    .footer__image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        width: 100%;
        order:2;
    }
    
    .footer__image, .footer__subscription{
        border-top: 1px solid var(--color--brand--second);
        border-right: none;
    }
    
    .footer__subscription{
        border-bottom: 1px solid var(--color--brand--second);
        padding: 3rem 1rem;
        width: 100%;
    }

    .footer__subscription__form{
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .input__email{
        width: 100%;
    }

    .footer__nav__container{
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem 1rem;
        row-gap: 2rem;
    }

    .social-media__container{
        flex-direction: row;
        margin-top: 1rem;
        margin-left: 0;
        column-gap: 2rem;
        justify-content: center;
    }

    #socialMediaIcon{
        width: 150%;
        height: 150%;
    }

    /* PRODUCT PAGES  */
    .product-view{
        flex-direction: column;
        height: 100%;
    }

    .slideshow-container{
        height: 450px;
    }

    .slideshow-container, .product__description{
        width: 100%;
    }

    .product__description{
        padding: 2rem;
        border-left: none;
    }

    .product__choices{
        flex-direction: column;
    }

    .product--text{
        font-size: var(--font-normal-size);
    }
}

@media screen and (min-width: 768px) and (max-width: 1254px){
    .logo--header{
        left: 30%;
    }

    .shop__product{
        width: 100%;
        margin-top: -1rem;
    }

    .footer__image{
        justify-content: center;
        padding: 0.5rem;
    }
    
    .footer__subscription{
        width: 53%;
        padding: 2rem;
    }

    .footer__subscription__form{
        flex-direction: column;
        row-gap: 1rem;
    }

    .input__email{
        width: 100%;
        height: 50px;
    }

    .footer__nav__container{
        position: relative;
    }

    .social-media__container{
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }

        /* PRODUCT PAGES  */
        .product-view{
            flex-direction: column;
            height: 100%;
        }
    
        .slideshow-container{
            height: 700px;
        }
    
        .slideshow-container, .product__description{
            width: 100%;
        }
    
        .product__description{
            padding: 2rem;
            border-left: none;
        }

        .product__description-subtitle{
            column-gap: 4rem;
        }
    
        .product__choices{
            column-gap: 2.5rem;
        }
    
        .product--text{
            font-size: var(--font-normal-size);
        }
}

@media screen and (min-width: 1500px) and (max-width: 2500px){
    h2{
        font-size: 2.3rem;
    }

    h3{
        font-size: 2rem;
    }

    p{
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .shop__product img{
        height: 700px;
    }
}