@import "/base/variables&base.css";

.about-us{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.about-us .grid-two-col{
    border-bottom: 1px solid var(--color--brand--second--dark);
}

.about-us:last-child .grid-two-col{
    border-bottom: none;
}

.img-container{
    display: flex;
}

.grid-two-col img{
    object-fit: cover;
}

.about-us__description{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 3rem 2rem;
    justify-content: center;
    background-color: white;
}

.about-us__description h1{
    font-size: 2.2rem;
}

.about-us__description p, .save-planet-img{
    width: 100%;
}

@media screen and (min-width: 1500px) and (max-width: 2500px){
    .about-us__description{
        padding: 10%;
        row-gap: 7%;
    }

    .about-us__description p, .save-planet-img{
        width: 100%;
    }
}
